{
  "presets": ["env"],
  "plugins": [
    "transform-async-generator-functions",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ]
}
